* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

h2 {
    text-align: center;
}

.change {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

button {
    text-align: center;
    width: 90px;
    background-color: white;
    color: black;
}

.div-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total-text {
    font-size: large;
    margin-top: 35px;
}